<% @title = 'Revenue Influx : A Digital Marketing Agency in London England' %>
<style>

</style>
<div class='container' style='margin-top:-40px;padding-bottom:20px;'>
  <p class='center' style='font-size:1.2em; font-weight:bold;'>
    THE FASTEST WAY TO INCREASE YOUR REVENUE
  </p>
  <p class='center' >
    Our Digital Marketing agency, based in London England, bridges the gap for businesses that don’t have the people, resources, time or expertise to get a measurable return on digital marketing.
  </p>
  <hr>
  <h1 class='center'>
    Latest Posts
  </h1>
  
  <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        
        <%= link_to top_10_tips_youtube_marketing_path, class:'thumb-text' do %>
          <div class="col-sm-4 center">
            <h2>10 Simple Tips for YouTube Marketing</h2>
            <div>
              <%= image_tag('youtube-s.jpg', alt:'youtube', class:'thumb-post' )%>
            </div>
            <p>
              It’s not a question whether you use YouTube as your video marketing tool to reach your audience online, it’s only a question of how well you’ll use it. Here are 10 simple tips for YouTube marketing
            </p>
            <p>
              <%= link_to 'View details &raquo;'.html_safe, top_10_tips_youtube_marketing_path, class:'btn'%>
            </p>
          </div>
        <% end %>
        
        <%= link_to create_facebook_ads_that_convert_path, class:'thumb-text' do %>
          <div class="col-sm-4 center">
            <h2 class='center'>Facebook: Create Ads That Convert</h2>
            <div>
              <%= image_tag('facebook-ad-img.jpg', alt:'youtube', class:'thumb-post')%>
            </div>
            <p>
              Here are some quick Facebook Ad hacks on how to improve your Facebook Advertising efforts and get more conversion
            </p>
            <p>
              <%= link_to 'View details &raquo;'.html_safe, create_facebook_ads_that_convert_path, class:'btn'%>
            </p>
          </div>
        <% end %>
        
        <%= link_to top_12_useful_instagram_marketing_tools_path, class:'thumb-text' do %>
          <div class="col-sm-4 center">
            <h2 class='center'>
              12 Instagram Marketing Tools
            </h2>
            <div>
              <%= image_tag('instagram2_600x400.jpg', alt:'youtube', class:'thumb-post' )%>
            </div>
            <p>
              Looking to get the most out of Instagram? Well you are in luck. There are many apps and online tools that can be used in conjunction with Instagram. Below is a list of 25 tools that will help you get more out of your Instagram experience.
            </p>
            <p>
              <%= link_to 'View details &raquo;'.html_safe, top_12_useful_instagram_marketing_tools_path, class:'btn'%>
            </p>
          </div>
        <% end %>
      </div><!-- /.row -->
  </div>
</div>