<footer class="footer fixed-bottom">
  <div class='container'>
    <li>
      <%= link_to "Revenue Influx ©", root_path, class: "footer-brand", style: 'font-family:carterone;' %> |
      <%= link_to "Privacy Policy", privacy_path, class: "footer-brand" %> |
      <%= link_to "Terms and Conditions", terms_path, class: "footer-brand" %> |
      <%= link_to "Disclaimer", disclaimer_path, class: "footer-brand" %> |
      <%= link_to "Contact", contact_path, class: "footer-brand" %> |
      <%= link_to "About", about_path, class: "footer-brand" %> 
    </li>    
  </div>
</footer>